@font-face {
    font-family: bonheur-royale;
    src: url(../font/BonheurRoyale-Regular.ttf);
}
@font-face {
    font-family: merkurius;
    src: url(../font/Merkurius-z87G0.otf);
}
@font-face {
    font-family: dymax;
    src: url(../font/DymaxionScript.ttf);
}
:root {
    --backgroundcolor: #6bb7f5;
    --etchscreen: #F9F7F1;
    --etchetched: black;
    --etchborder: #e40000;
    --etchknob: #FCFBF8;
    --tileSize: 12.5px;
    --rotateKnobX: 0;
    --rotateKnobY: 0;
    --rotationSpeed: 0.07s;
}

html, body {
   
    font-family: dymax;
}
html {
    box-sizing: border-box;
    height: 100%;
    background-color: var(--backgroundcolor);
}
body {

    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}
.flex {
    display: flex;
}
/*.border {
    border-style: dashed;
    border-radius: 30px;
    border-width: 3px;
    border-color: black;
}
*/
.etch-container {
    position: absolute;
    width: 1100px;
    height: 1100px;
    flex-direction: column;
    align-items: center;
    background-color: var(--etchborder);
    border-width: 10px;
    border-radius: 150px;
    border-style:solid;
    border-color: #bb0404;
    box-shadow: 0 0 25px black;
    margin: auto auto auto auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.logo {
    max-height: 100px;
    max-width: 100px;
    opacity: 100%;
    position: absolute;
    align-self: start;
    margin: 20px 0 0 60px
}
.title {
    width: 1000px;
    color: rgb(245, 186, 39);
    height: 130px;
    flex-shrink: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    
}
.title-text {
    font-size: 85px;
    font-weight: 500;
    text-shadow: 0px 3px 4px gold, 0px 4px 3px black;
}
.support-text{
    font-family: merkurius;
    font-size: 20PX;
    MARgin: 0 10px 0 10px;
    text-shadow: 2px 2px 2px gold, 3px 3px 2px black;
}
.screen-container {
    height: 800px;
    width: 800px;
    flex-shrink: 0;
    background-color: var(--etchscreen);
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 20px;
    border-style: ridge;
}
.etch-tile {
    background-color: var(--etchscreen);
    width: var(--tileSize);
    height: var(--tileSize);
    touch-action: none;
}
.bottom-container {
    justify-content: space-between;
    height: 100%;
    width: 90%;
}
.knob {
    margin-top: 10px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-width: 2px;
    background-color: var(--etchknob);
    display: flex;
    justify-content: center;
    align-items: center;
}
.knob-x, .knob-y {
    height: 90%;
    width: 90%;
    border-style: none;
    transition: var(--rotationSpeed);
    transition-timing-function: linear;
}
.knob-x {
    transform: rotate(var(--rotateKnobX));
}
.knob-y {
    transform: rotate(var(--rotateKnobY));
}
.button-container {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.reset {
    height: 35px;
    width: 100px;
    border-style: outset;
    border-width: 2px;
    border-color: gold;
    background-color: red;
    border-radius: 8px;
    color: var(--etchknob);
    text-align: center;
    font-family: merkurius;
    font-size: 30px;
}
.input {
    height: 35px;
    width: 50px;
    border-radius: 7px;
    background-color: rgb(187, 0, 0);
    color: var(--etchknob);
    font-family: merkurius;
    font-size: 28px;
    text-align: center;
    margin-left: 40px;

}
.input:focus-visible {
    outline: none;
}
.button {
    transition: 0.07s;
}
.clicked {
    transform: scale(1);
    border-style: inset;
}
@media only screen and (max-width: 720px) {
 html {
 overflow-x: auto;
 overflow-y: auto;
 height: 100%
 }

    .etch-container {
        margin-top: auto;
overflow: hidden;
     border-radius: 50px;
     justify-content: space-evenly;
 }   
 div .screen-container {
     width: 80%;
     height: 60%;
     border-radius: 20px;
 }
 .title {
     height: 100px;
 }
 .title-text {
     font-size: 40px;
 }
 .support-text {
     font-size: 14px;
     margin: 0 2px 0 2px;
     display: none;
 }
 .etch-tile {
     flex-grow: 1;
     flex-shrink: 0;
 }
 .logo {
     height: 60px;
     margin: 5px 0 0 5px;
 }
 .knob {
     width: 50px;
     height: 50px;
     display: none;
 }
 .bottom-container {
     height: 10vh;
     width: 90%;

 }
 .reset, .input { 
     max-width: 100px;
 }
}